:root {
  --default-font: "Raleway",  system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
  --color-scheme: light dark;
  --accent-color-2: #fb5607;
  --accent-color-3: #ff006e;
  --accent-color-4: #8338ec;
  --icon-size: 32px;
  --box-shadow: 2px 2px 2px 0 var(--heading-color);
}

@media (max-width: 572px) {
  :root {
    --icon-size: 24px;
  }
}

:root {
  --background-color: #ffffff; /* Background color for the entire website, including individual sections */
  --default-color: #000000; /* Default color used for the majority of the text content across the entire website */
  --heading-color: color-mix(in srgb, var(--default-color), var(--accent-color) 40%); /* Color for headings, subheadings and title throughout the website */
  --accent-color: #473ae0; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: color-mix(in srgb, var(--background-color), var(--accent-color) 40%); /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  --border-color: color-mix(in srgb, var(--background-color), black 10%); /* Border color for elements that require a border */
  --button-color: #ffffff;
  --contrast-accent: color-mix(in srgb, var(--contrast-color), var(--accent-color) 40%);
}

.dark-theme {
  --background-color: #000000;
  --default-color: #f4fafd;
  --heading-color: color-mix(in srgb, var(--default-color), var(--accent-color) 40%);;
  --surface-color: color-mix(in srgb, var(--background-color), var(--accent-color) 50%); 
  --contrast-color: #000000;
  --border-color: color-mix(in srgb, var(--background-color), white 10%); /* Border color for elements that require a border */
  --contrast-accent: color-mix(in srgb, var(--contrast-color), var(--accent-color) 40%);
}
/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/

a {
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color);
}

p {
  margin-top: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

/* Styles pour les icônes de thème */
.icon {
  fill: var(--accent-color);
  width: var(--icon-size);
  height: var(--icon-size);
}

/* Par défaut, cacher l'icône light */
.light-icon {
  display: none;
}

/* Quand le thème est light, inverser l'affichage des icônes */
body.light-theme .light-icon {
  display: block;
}

body.light-theme .dark-icon {
  display: none;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    padding: 0 3em;
  }
}

@media (max-width: 572px) {
  .container {
    padding: 0 1em;
  }
}

.button {
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--contrast-color);
  color: var(--heading-color);
  box-shadow: var(--box-shadow);
}

.button__primary {
  background-color: var(--accent-color);
  color: var(--button-color);
  font-family: var(--default-font);
  border: none;
}

.bg-main {
  background-color: var(--accent-color);
}

.bg-surface {
  background-color: var(--surface-color);
}

.bg-default {
  background-color: var(--default-color);
}

.bg-contrast {
  background-color: var(--contrast-color);
}

.bg-accent-2 {
  background-color: var(--accent-color-2);
}

.bg-accent-3 {
  background-color: var(--accent-color-3);
}

.bg-accent-4 {
  background-color: var(--accent-color-4);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
  width: 100%;
  height: 100%;
  align-self: start;
  border-bottom: .5px solid var(--border-color);
  padding: 1em 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: var(--heading-color);
  font-size: 1.8rem;
}

header input {
	background-color: var(--contrast-color);
	border: 2px solid var(--border-color);
	font-size: 16px;
	padding: 5px 5px 5px 5px;
}


header input:focus-visible {
  box-shadow: var(--box-shadow);
}

header input:hover {
  cursor: pointer;
  border-color: var(--accent-color);
}

header .nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 100px;
  gap: 1em;
}

header .theme-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;

}

header .github-link {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
}

header .github-link svg {
  fill: var(--accent-color);
  width: 100%;
  height: 100%;
}

.section {
  padding: 3em 0;
  overflow: clip;
}

.section-heading {
  margin-bottom: 1em;
}

.answer  {
  gap: 10px;
  margin-bottom: 2em;
  font-size: 1 rem;
  font-weight: 800;
  color: var(--heading-color);
}

.card-listing {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.card {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  width: 280px;
}

@media (max-width: 572px) {
  .card {
    width: 100%;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-header button {
  border: 2px solid var(--heading-color);
  padding: .3em .5em;
}

.card-heading, .ratio {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-container {
  box-shadow: 1px 1px 1px 2px var(--heading-color);
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
  gap: 1.2em;
  padding: .5em;
}

.color-info {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1rem;
}

.color-heading {
  color: var(--heading-color);
}

.color-contrast {
  color: var(--contrast-color);
}

.color-default {
  color: var(--default-color);
}

.color-accent {
  color: var(--accent-color);
}

.color-contrast-accent {
  color: var(--contrast-accent);
}
